.jumbotron {
  background-image: url("../img/piglet.gif");
  background-repeat: no-repeat;
  background-size: cover;
  height:500px;
  text-align: center;
  color: white;
}
.output {
  font-size: 40px;
}
.btn-success {
  background-color: #d88a8a;
  display: block;
  margin: auto;
  border-color: #8e4848
}
.btn-success:hover {
  background: #8e4848
}
